<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

{% capture pageClass %}
  {% if layout == "post-page" %}
    {{ layout }}
  {% else %}
    {{ title }}
  {% endif %}
{% endcapture %}

  <body class="l-default {{ pageClass | strip | prepend: 'p-' }} {{ tags | itemType }}">
  {% if title == "home" %}
    {% include "splash.html" %}
  {% endif %}
  {% include "navigation.html" %}
  <div class="main-wrapper">
  <main>
    {{ content }}
    </main>
  </div>
  {% include "footer.html" %}

  <script type="text/javascript" src="/assets/js/main.js" defer></script>
</body>

</html>