<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

{% capture pageClasses %}{% if layout == "post-page" %}{{ layout }}{% else %}{{ title }}{% endif %} {{ tags | itemType  }}{% endcapture %}
<body class="l-default p-{{ pageClasses }}">
  {% include "navigation.html" %}
  <div class="main-wrapper">
    {{ content }}
    </div>
  {% include "footer.html" %}

  <script type="text/javascript" src="/assets/js/main.js" defer></script>
</body>

</html>